<.header>
  Edit Song <%= @song.id %>
  <:subtitle>Use this form to manage song records in your database.</:subtitle>
</.header>

<.song_form changeset={@changeset} action={~p"/songs/#{@song}"} />

<.back navigate={~p"/songs"}>Back to songs</.back>
